*{
    background-color: #28292d;
    color: white;
    /* padding: 10px; */
}
.info{
  
    margin: 20px;
    align-content: center;
    padding: 10px;
}
.info--image{
    height: 250px;
    width: 430px;
}
.info--name{
    margin-top: 20px;
}
.info--title{
    margin-top: 15px;
}
.info--location{
    margin-top: 10px;
}
.info--buttons{
margin-top: 20px;
}
.about{
    /* margin-top: 5px; */
    position: relative;
    /* padding: 20px; */
    margin-left: 20px;
}
.interest{
    /* padding: 20px; */
    margin-left: 20px;
}
.footer{
    /* height: 70px; */
    /* color: aqua; */
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}  